# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local
src/api

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?


# Temporarily DO NOT HAVE THIS LATER IN DEVELOPMENT
package-lock.json
src/api/*
package-lock.json
package-lock.json
package-lock.json
package-lock.json


.next
next-env.d.ts
dist

src/api/schemas.gen.ts
src/api/services.gen.ts
src/api/types.gen.ts

# Ignore Copilot instructions, but not github actions
.github/copilot-instructions.md

# Ignore TypeScript build artifacts
tsconfig.tsbuildinfo

.env
